body {
    font-family: Arial, sans-serif;
    background-color: #abc8b0; 
    margin: 0;
    padding: 20px;
    color: #333;
}

main {
    max-width: 300px;
    margin: 0 auto;
    background-color: #f0eaea;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input, select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-size: 1em;
    border: 2px solid #939493;
    border-radius: 8px;
}

button#saveSongBtn, 
button#getSongBtn 
{
    background-color: #5b805b; 
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
}

button#saveSongBtn:hover, 
button#getSongBtn:hover 
{
    background-color: #228b22; 
}


button#deleteBtn:hover {
    background-color: #228b22; 
}